<a href="https://colab.research.google.com/github/elpinchepastel/borrame/blob/main/clase_funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# !n = 1*2*3...*n

In [20]:
valor = int(input('Ingrese el valor de n para el factorial'))

Ingrese el valor de n para el factorial5

In [21]:
n = 1
factorial = 1
while n<=valor: 
  factorial = factorial * n
  n = n + 1

In [22]:
print(factorial)

120

In [41]:
def n_fact(valor):
  if valor<=0:
    return print('El valor ingresado es menor que 1 y no se puede calcular el factorial')
  else:
    n = 1
    factorial = 1
    while n<=valor: 
      factorial = factorial * n
      n = n + 1
    
    return print('El resultado factorial de {0} es: {1}'.format(n-1, factorial))

In [42]:
n_fact(int(input('Ingrese el valor de n para el factorial: ')))

Ingrese el valor de n para el factorial: 5
El resultado factorial de 5 es: 120

In [ ]:
def year_leap(num):
    if (num%4==0 and num%100!=0) or (num%400==0):
        return "El año: {0}, si es biciesto".format(num)
    else:
        if (num%4==0) and (num%100!=num or num%400):
            return "El año: {0}, si es biciesto".format(num)
        else:
            return "El año: {0}, no es biciesto".format(num)

In [47]:
def ano_biciesto(num_ano):
  if (num_ano%4==0 and num_ano%100!=0) or (num_ano%400==0):
    return 'El año {0} es biciesto'.format(num_ano)
  else:
    if (num_ano%4==0) and (num_ano%100!=0 or num_ano%400==0):
      return 'El año {0} es biciesto'.format(num_ano)
    else:
      return 'El año {0} NO es biciesto'.format(num_ano)

In [49]:
ano_biciesto(2000)

'El año 2000 es biciesto'

In [ ]:
def serie(number):
    lista = list(range(1,number+1))
    total = 0
    for i in range(1,number+1):
        total = i+total
    promedio = total/number
    return lista, total, promedio

In [51]:
x= (list(range(1,101)))
print(sum(x))

5050

In [53]:
import statistics
def calculos(num):
  lista_num = list(range(1,num+1))
  sumatoria = sum(lista_num)
  promedio = statistics.mean(lista_num)
  return lista_num, sumatoria, promedio

In [63]:
pos_cal = calculos(int(input('Ingrese un número:')))
print('La lista es {0}, el suma es {1} y el promedio es {2}'.format(pos_cal[0],pos_cal[1],pos_cal[2]))

Ingrese un número:20
La lista es [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], el suma es 210 y el promedio es 10.5